################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Kenan/CopilotIndices/17.13.433.20974
/.vs/Kenan/FileContentIndex
/.vs/Kenan/DesignTimeBuild
/.vs/Kenan/v17
